@model AddressBook.ViewModels.UserContactsModel
@{
    ViewData["Title"] = "Contacts";
}

<br/>

<form asp-action="Search" asp-controller="Contacts" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="input-group">
        <input type="text" class="form-control" style="max-width: none" asp-for="SearchText" placeholder="Search"/>
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default" value="Search">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
</form>


<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Note</th>
        <th>Actions</th>
    </tr>
    </thead>
    @foreach (var contact in Model.Contacts)
    {
        <tr>
            <td>@contact.Name</td>
            <td>@contact.PhoneNumber</td>
            <td>@contact.Email</td>
            <td>@contact.Note</td>
            <td>
                <a href="/Contacts/Call/@contact.Id">Call</a> @Html.ActionLink("Edit", "Edit", new {id = contact.Id}, new {@class = "compItem"}) <a href="/Contacts/Remove/@contact.Id">Remove</a>
            </td>
        </tr>
    }
</table>


<a class="btn btn-default" href="/Contacts/Add">Add new contact</a>